---
import { Button } from "@/components/ui/button";
import type { languages } from "@/i18n/ui";
import { useTranslatedPath, useTranslations } from "@/i18n/utils";
import { Category } from "@/types";

interface Props {
  category: Category;
  lang: keyof typeof languages;
}

const { category, lang } = Astro.props;
const t = useTranslations(lang);
const translatedPath = useTranslatedPath(lang);
---

<div
  class="grid grid-cols-2 content-center gap-2 md:grid-cols-4"
  data-category-buttons-container
>
  <a href={translatedPath(`/menu/${Category.coffee}/`)} data-astro-prefetch>
    <Button
      variant={category === Category.coffee ? "secondary" : "ghost"}
      size="lg"
      data-category={Category.coffee}
      className="category-button w-full"
    >
      {t("menu.coffee")}
    </Button>
  </a>
  <a href={translatedPath(`/menu/${Category.nonCoffee}/`)} data-astro-prefetch>
    <Button
      variant={category === Category.nonCoffee ? "secondary" : "ghost"}
      size="lg"
      data-category={Category.nonCoffee}
      className="category-button w-full"
    >
      {t("menu.non-coffee")}
    </Button>
  </a>
  <a href={translatedPath(`/menu/${Category.specialty}/`)} data-astro-prefetch>
    <Button
      variant={category === Category.specialty ? "secondary" : "ghost"}
      size="lg"
      data-category={Category.specialty}
      className="category-button w-full"
    >
      {t("menu.specialty")}
    </Button>
  </a>
  <a href={translatedPath(`/menu/${Category.grub}/`)} data-astro-prefetch>
    <Button
      variant={category === Category.grub ? "secondary" : "ghost"}
      size="lg"
      data-category={Category.grub}
      className="category-button w-full"
    >
      {t("menu.grub")}
    </Button>
  </a>
</div>
