---
import AddOnList from "@/components/menu/AddOnList.astro";
import CategoryButtons from "@/components/menu/CategoryButtons.astro";
import MenuList from "@/components/menu/MenuList.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import { Category } from "@/types";
import MenuListLoading from "./MenuListLoading.astro";

interface Props {
  category: Category;
}

const { category } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={`UBean - ${t("menu.title")}`}>
  <main
    class="container mx-auto my-16 flex min-h-screen w-full max-w-6xl flex-col items-center md:my-32"
  >
    <div class="flex max-w-lg flex-col gap-6 text-center">
      <h1 class="animate text-h2">{t("menu.menu")}</h1>
      <h2 class="animate text-b2">
        {t("menu.desc")}
      </h2>
    </div>
    <div class="animate mt-10 mb-8 md:mt-20 md:mb-16">
      <CategoryButtons lang={lang} category={category} />
    </div>
    <div class="animate w-full space-y-10 md:space-y-20">
      <MenuList server:defer lang={lang} category={category}>
        <MenuListLoading slot="fallback" />
      </MenuList>
      <AddOnList lang={lang} />
    </div>
  </main>
</Layout>
